.expansion-panel {
  //padding: 10px 10px 10px 10px;
}

.error {
  color: red;
}

.preserve-paragraph {
  white-space: pre-wrap;
}

.form-card {
  margin-top: 30px;
}

.form {
  padding: 10px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}
