<div>

  <mat-toolbar>
    <h1>Torrents</h1>

    <span class="toolbar-spacer"></span>

    <button mat-mini-fab color="primary" aria-label="Add new torrent" (click)="addTorrent()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>


  <table mat-table [dataSource]="torrents" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <th mat-cell *matCellDef="let torrent">{{ torrent.name }}</th>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef>Size</th>
      <th mat-cell *matCellDef="let torrent">{{ torrent.size | filesize }}</th>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef>Progress</th>
      <th mat-cell *matCellDef="let torrent">{{ torrent.progress | percent }}</th>
    </ng-container>

    <ng-container matColumnDef="addedOn">
      <th mat-header-cell *matHeaderCellDef>Added On</th>
      <th mat-cell *matCellDef="let torrent">{{ torrent.addedOn | timeago }}</th>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <th mat-cell *matCellDef="let torrent">
        <button mat-icon-button color="primary" aria-label="Toggle navigation" (click)="deleteTorrent(torrent)">
          <mat-icon>delete</mat-icon>
        </button>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
