// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

// Available color palettes: https://material.io/design/color/
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$purple-palette),
    accent: mat.define-palette(mat.$green-palette),
    warn: mat.define-palette(mat.$red-palette),
  )
));

@include mat.all-component-themes($light-theme);

//@media (prefers-color-scheme: dark) {
.dark-mode {
  @include mat.all-component-colors($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
